@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body,
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 1rem;
  text-align: center;
}

.button-container {
  text-align: right;
  margin: 1rem;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #45a049;
}

.table-container {
  padding: 1rem;
  margin: auto;
  max-width: 1000px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  text-align: left;
  padding: 0.75rem;
  border: solid 1px lightgrey;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.update-button {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.update-button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  table, th, td {
    display: block;
  }
  th, td {
    padding: 0.5rem;
  }
  th {
    text-align: right;
  }
  th::after {
    content: ": ";
  }
  tr {
    margin-bottom: 1rem;
    border-bottom: solid 1px lightgrey;
  }
  tr:nth-child(even) {
    background-color: transparent;
  }
}
